:root {
  --title-color: #212121;  
  --accent-color: #2196f3;
  --main-color: #757575;
  --focus-color: #fff;
  --secondary-white-color: #f5f4fa;
  --footer-color: #2f303a;
  --icons-color: #AFB1B8;
  --workers-section-color: #f5f4fa;
  --lower-contacts-color: rgba(255, 255, 255, 0.6);
}



